body{
    background-image: url("../images/backgroundImage.png")
}
#container{
    margin: auto;
    width: 970px;

}
#header{
    width: 100%;
    background-color: rgb(119, 119, 224);
    text-align: center;

}
#content{
    width: 100%;
    text-align: center;

}
input{
    
    margin: 0px 25px 10px 25px;
}
.qRows{
    border: 2px black solid;
    
}
.answers{
    width:100%;
    
    
}
p{
    display: inline-block;
    margin: 20px;
}

.row3{
    margin-left: 150px;
    margin-right: 150px;
}
.row4{
    margin-left: 80px;
    margin-right: 80px;
}
.row6{
    margin-left: 30px;
    margin-right: 30px;
}
.submitRow{
    width: 99.7%;
    border: 2px solid black;
    height: 60x;

}
button{
    background-color:green;
    height: 50px;
    width: 200px;
    border: 2px solid black;
    border-radius: 5px;
}
#winner{
    margin: 10px 0px 0px 40px;
    width: 200px;
    height: 140px;
    display: none;
}
#needsWork{
    display: none;
    margin: 110px 40px 0px 0px;
    width: 200px;
    height: 140px;
}
#reset{
    background-color: red;
}